<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dormhelpmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:stopWithTask="false"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notification"
            android:label="Notification"
            android:parentActivityName=".home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user"
            android:label="Account"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dorm"
            android:label="Dorm Information"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lostfound"
            android:label="Lost &amp; Found"
            android:launchMode="singleTop"
            android:parentActivityName=".home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".post"
            android:label="Add Post"
            android:parentActivityName=".lostfound"
            android:screenOrientation="portrait" />
        <activity
            android:name=".comment"
            android:label="Comment"
            android:parentActivityName=".lostfound"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appeal"
            android:label="ร้องเรียน"
            android:parentActivityName=".report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".repair"
            android:label="แจ้งซ่อม"
            android:parentActivityName=".report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".faq"
            android:label="FAQs"
            android:parentActivityName=".home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".report"
            android:label="แจ้งซ่อม/ร้องเรียน"
            android:launchMode="singleTask"
            android:parentActivityName=".home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Washing_Machine"
            android:label="จองคิวเครื่องซักผ้า"
            android:parentActivityName=".home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".booking"
            android:label="จองคิวเครื่องซักผ้า"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bill"
            android:label="บิลค่าเช่า"
            android:parentActivityName=".home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".slip"
            android:label="อัปโหลดหลักฐานการจ่ายเงิน"
            android:parentActivityName=".bill"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>